<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/Plantilla :: head">
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet">

</head>
<body>

	<header th:replace="/Plantilla :: header"></header>


	<br>
	
	<div class="container">

		<br>

		<div class="row">
			<h2 class="text-success" style="letter-spacing: 3px;" align="center">LISTA DE
				PAQUETES</h2> <br><br>
			<div class="col-lg-3">
				<a th:href="@{/paquete/agregar2}"
					class="btn btn-outline-success btn-lg" th:text="'Nuevo Paquete'"
					title="Crear Nuevo Registro"></a>
			</div>
		</div>
		<br>
		<h5>

			<table class="table table-striped table-bordered">
				<thead class="table-dark">
					<tr>
						<th>Id</th>
						<th>Descripcion</th>
						<th>Fecha de Regreso</th>
						<th>Fecha de Salida</th>
						<th>Estado</th>
						<th>Lugar Destino</th>
						<th>Lugar Salida</th>
						<th>Precio</th>
						<th>Editar</th>
						<th>Eliminar</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="paquete: ${paquetes}">
						<td th:text="${paquete.idPaquete}">Id</td>
						<td th:text="${paquete.descripcion}">Descripcion</td>
						<td
							th:text="*{#temporals.format(paquete.fechaRegreso, 'dd/MM/yyyy')}">Fecha
							Regreso</td>
						<td
							th:text="*{#temporals.format(paquete.fechaSalida, 'dd/MM/yyyy')}">Fecha
							Salida</td>
						<td th:text="${paquete.estado}">Estado</td>
						<td th:text="${paquete.lugarDestino}">Lugar Destino</td>
						<td th:text="${paquete.lugarSalida}">Lugar Destino</td>
						<td th:text="${paquete.precioUnidad}">Precio</td>
						
						<td><a th:href="@{/paquete/edit/}+${paquete.idPaquete}"
							class="btn btn-success btn-sm-lg" th:text="Editar"
							title="Editar Registro"></a></td>
						<td><a th:href="@{/paquete/delete/}+${paquete.idPaquete}"
							class="btn btn-danger btn-sm-lg" th:text="Eliminar"
							title="Eliminar Registro"
							onclick="return confirm('Está seguro de eliminar el registro?')"></a></td>
					</tr>

				</tbody>

			</table>
		</h5>
	</div>
</body>

</html>